<div class="div_lg_left" >
  <%=image_tag('login_background.jpg', class:"background")%>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(window).resize(function()
  {
      if ($(window).width() <= 1000) {
          $(".div_lg_left").css("width", "60%");
          $(".div_lg_right").css("width", "60%");
          $(".div_lg_right").css("height", "120%");
          $(".div_lg_left").css("float", "none");

          $(".div_lg_right").css("float", "none");
          // $("body").css("min-width","350px");
          $(".div_lg_left").css("height","auto");
          $(".background").css("height","auto");
      }
      else
          location.reload();
  });
</script>

<div class="div_lg_right">
  <div class="div_middle"><br>
    <label class="label_lg_name">Password Reset</label><br>
    <form action='/password_reset/reset' method='post' onsubmit='return pwCheck()'>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="hidden" name="id" value=<%=return_user_id(params["email"])%>>
      <label class="label_lg_title">New Password</label><br>
      <input id="pwd1" name="password1" required="true" type="password" class="input_login" required>
      <label class="label_lg_title">Confirmation</label><br>
      <input id="pwd2" name="password2" required="true" type="password" class="input_login" required>
      <input type="submit" value="Reset" class="btn-success input_button"><br><br>
    </form>
  </div>
</div>
