<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password Reset</h1>
    <p>
      Dear <%= @username %>
    </p>
    <p>
      You have requested to reset you password for DMPC, please use the link below:
    </p>
    <p>
      <%= @url %>
    </p>
    <p>If you didn't make the request, please ignore this email.</p>
  </body>
</html>
