<%if session[:account_type] == "educator"%>
  <%= render 'layouts/educatorsidebar' %>
<%else%>
  <%= render 'layouts/studentsidebar' %>
<%end%>

<div class="div_statebar">
  <div class="state_bar_left">
    <label class="label_statebar">Hello, user!</label>
  </div>
  <div class="state_bar_right">
    <form action="/user/logout" method="GET">
      <input type="submit" class="button_logoff" value="Logout">
    </form>
  </div>
</div>

<br>
<div class="div_page_background">
  <div class="div_page_left">
    <label class="label_page_title">Metadata</label>
  </div>
  <div class="div_page_right" style="margin-top:23px;">
    <a href="javascript:void(0);" class="a_import" data-toggle="modal" data-target="#myModal">Import</a>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content edit_modal_frame">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top:5px;margin-right:10px;">
      &times;
      </button>
      <div class="modal-body edit_modal_container">
        <form action = '/user/import' method = "POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <p><br>
          <input type="file" name="data_file" required="true" class="input_edit"><br>
        </p>
        <input type="submit" class="button_dashboard btn-success" value="Import"><br>
        </form>
      </div>
    </div>
  </div>
</div>
