<div class="div_lg_left" >
  <%=image_tag('login_background.jpg', class:"background")%>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(window).resize(function()
  {
      if ($(window).width() <= 1000) {
          $(".div_lg_left").css("width", "60%");
          $(".div_lg_right").css("width", "60%");
          $(".div_lg_right").css("height", "120%");
          $(".div_lg_left").css("float", "none");

          $(".div_lg_right").css("float", "none");
          // $("body").css("min-width","350px");
          $(".div_lg_left").css("height","auto");
          $(".background").css("height","auto");
      }
      else
          location.reload();
  });
</script>

<div class="div_lg_right">
  <div class="div_top">
    <label class="label_normal">Already have an account?&nbsp;</label>
    <a href="/">Log in</a><br>
  </div>
  <div class="div_middle2"><br>
    <form action='/user/create_new_account' method='post' onsubmit='return pwCheck()'>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <label class="label_lg_title">Email</label><br>
      <input name="email" required="true" type="email" class="input_login"><br>
      <label class="label_lg_title">Username </label><br>
      <input name="username" required="true" type="text" class="input_login"><br>
      <label class="label_lg_title">Department </label><br>
      <input name="department" required="true" type="text" class="input_login"><br>
      <label class="label_lg_title">Password </label><br>
      <input id="pwd1" name="password" required="true" type="password" class="input_login"><br>
      <label class="label_lg_title">Password Confirm</label><br>
      <input id="pwd2" name="password2" required="true" type="password" class="input_login"><br><br>
      <input type="checkbox" name="atype" class="form-check-input">
      <label class="label_normal">&nbsp;&nbsp;Are you a curator?</label>
      <label style="color:red;"><%= flash[:login_error] %></label><br>
      <input type="submit" value="Sign Up" class="btn-success input_button"><br>
    </form>
  </div>
</div>
