<%if session[:account_type] == "educator"%>
  <%= render 'layouts/educatorsidebar' %>
<%else%>
  <%= render 'layouts/curatorsidebar' %>
<%end%>

<div class="div_statebar">
  <div class="state_bar_left">
    <label class="label_statebar">Hello, user!</label>
  </div>
  <div class="state_bar_right">
    <form action="/user/logout" method="GET">
      <input type="submit" class="button_logoff" value="Logout">
    </form>
  </div>
</div>

<br>
<div class="div_page_background">
  <label class="label_page_title">Recommends</label>
</div>
