<%= render 'layouts/stateline'%>

<%if session[:account_type] == "educator"%>
  <%= render 'layouts/educatorsidebar2' %>
<%else%>
  <%= render 'layouts/curatorsidebar2' %>
<%end%>


<br>
<div class="div_page_background">
  <label class="label_page_title">Recommends</label>
</div>
