<%= render 'layouts/stateline'%>

<%if session[:account_type] == "educator"%>
  <%= render 'layouts/educatorsidebar2' %>
<%else%>
  <%= render 'layouts/curatorsidebar2' %>
<%end%>

<br>
<div class="div_page_background">
  <div class="div_page_left">
    <label class="label_page_title">Crease New Item</label>
  </div>

  <div class="div_page_right" style="margin-top:23px;">
  </div>

</div>
