<%if session[:account_type] == "educator"%>
  <%= render 'layouts/educatorsidebar' %>
<%else%>
  <%= render 'layouts/curatorsidebar' %>
<%end%>

<%= render 'layouts/stateline'%>

<br>
<div class="div_page_background">
  <div class="div_page_left">
    <label class="label_page_title">Crease New Course</label>
  </div>

  <div class="div_page_right" style="margin-top:23px;">
  </div>

</div>
