// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.switch_course_on{
  width:72px;
  height:35px;
  background: url("https://s3-ap-southeast-2.amazonaws.com/dmpc.asset/on.png") no-repeat;
  margin-top: 15px;
  margin-right: 30px;
  border:0;
  float: right;
}

.switch_course_off{
  width:72px;
  height:35px;
  background: url("https://s3-ap-southeast-2.amazonaws.com/dmpc.asset/off.png") no-repeat;
  margin-top: 28px;
  margin-right: 34px;
  border:0;
}

.a_import{
  font-family:Avenir-Medium;
  font-size:18px;
  color:#4374fe;
  letter-spacing:0px;
  background: url("https://s3-ap-southeast-2.amazonaws.com/dmpc.asset/add.png")no-repeat 0 0;
  padding-left: 33px;
  margin-right: 100px;
}

.a_createnew{
  font-family:Avenir-Medium;
  font-size:18px;
  color:#4374fe;
  letter-spacing:0px;
  background: url("https://s3-ap-southeast-2.amazonaws.com/dmpc.asset/add.png")no-repeat 0 0;
  padding-left: 33px;
  margin-right: 20px;
}

.a_createnewi{
  font-family:Avenir-Medium;
  font-size:18px;
  color:#4374fe;
  letter-spacing:0px;
  background: url("https://s3-ap-southeast-2.amazonaws.com/dmpc.asset/add.png")no-repeat 0 0;
  padding-left: 33px;
  margin-right: 20px;
  margin-top: 10px;
}

.iframe_atom{
  margin-left: 20px;
  margin-top: 20px;
}

.div_atom_block{
  background:#ffffff;
  box-shadow:0 1px 3px 0 rgba(202,208,211,0.60);
  border-radius:4px;
  width:1000px;
  height:400px;
  margin-top: 24px;
  margin-left: 40px;
  display: inline-block;
}

.div_courses_background{
  margin-left: 80px;
  margin-top: 70px;
}

.div_courses_container_active{
  background:#ffffff;
  border:2px solid #52c373;
  border-radius:4px;
  width:600px;
  height:240px;
  margin:10px;
  display: inline-block;
}

.div_courses_container_inactive{
  background:#ffffff;
  box-shadow:0px 1px 3px 0px rgba(202,208,211,0.60);
  border-radius:4px;
  width:600px;
  height:240px;
  margin:10px;
  display: inline-block;
}

.div_course_detail_background{
  margin-left: 90px;
  margin-top: 70px;
}

.div_meta_background{
  background:#ffffff;
  box-shadow:0px 1px 3px 0px rgba(202,208,211,0.60);
  border-radius:4px;
  width:850px;
  height:240px;
  margin-bottom: 30px;
  margin-left: 40px;
  display: inline-block;
}

.div_itemd_background{
  background:#ffffff;
  box-shadow:0px 1px 3px 0px rgba(202,208,211,0.60);
  border-radius:4px;
  width:900px;
  height:600px;
  //height:300px;
  margin-bottom: 30px;
  margin-left: 40px;
  display: inline-block;
}

.div_item{
  background:#ffffff;
  box-shadow:0px 1px 3px 0px rgba(202,208,211,0.60);
  border-radius:4px;
  width:850px;
  height:68px;
  margin-top:10;
  margin-bottom: 0;
  margin-left: 90px;
}

.div_cd_left{
  display: inline-block;
  float:left;
  width:211px;
  height:300px;
}

.div_cd_right{
  display: inline-block;
  float:right;
  width:639px;
  height:300px;
}

.div_cm_left{
  display: inline-block;
  float:left;
  height: 40px;
  margin-right: 550px;
}

.div_cm_right{
  height: 40px;
}

.div_ci_left{
  display: inline-block;
  float:left;
  height: 59px;
  margin-right: 1000px;
  //margin-right: 650px;
}

.div_ci_right{
  height: 59px;
}

.radio_on{
  display: inline-block;
  width:28px;
  height:28px;
  background: url("https://s3-ap-southeast-2.amazonaws.com/dmpc.asset/radio_on.png") no-repeat;
  margin-top: 10px;
  margin-right: 25px;
  border:0;
}

.radio_off{
  display: inline-block;
  width:28px;
  height:28px;
  background: url("https://s3-ap-southeast-2.amazonaws.com/dmpc.asset/radio_off.png") no-repeat;
  margin-top: 10px;
  margin-right: 25px;
  border:0;
}

.label_follow{
  font-family:Avenir-Black;
  font-size:18px;
  color:#a9b9d3;
  letter-spacing:0px;
  margin-top: 14px;
}

.label_ittitle{
  font-family:Avenir-Black;
  font-size:18px;
  color:#a9b9d3;
  letter-spacing:0px;
  margin-left: 40px;
  margin-bottom: 7px;
}

.label_dtitle{
  font-family:Avenir-Medium;
  font-size:18px;
  color:#a9b9d3;
  letter-spacing:0px;
  margin-left: 70px;
  margin-top: 90px;
}

.label_ititle{
  font-family:Avenir-Medium;
  font-size:18px;
  color:#a9b9d3;
  letter-spacing:0px;
  margin-left: 90px;
  margin-top: 120px;
}

.label_ctitle{
  font-family:Avenir-Medium;
  margin-left: 15px;
  margin-top: 15px;
  font-size:25px;
  color:#1a234a;
}

.label_cstate{
  margin-top: 15px;
  margin-right: 30px;
  float: right;
  font-family:Avenir-Medium;
  font-size:16px;
  color:#52c373;
  letter-spacing:0px;
}

.label_cstate_ip{
  margin-top: 15px;
  margin-right: 30px;
  float: right;
  font-family:Avenir-Medium;
  font-size:16px;
  color:gray;
  letter-spacing:0px;
}

.label_cinfo{
  font-family:Avenir-Medium;
  margin-left: 15px;
  margin-top: 10px;
  font-size:15px;
  color:#1a234a;
}

.label_cid{
  font-family:Avenir-Medium;
  margin-left: 15px;
  margin-top: 5px;
  font-size:15px;
  color:gray;
}

.label_cd_key{
  font-family:Avenir-Medium;
  font-size:16px;
  color:#52c373;
  letter-spacing:0px;
  margin-top: 18px;
  margin-left: 15px;
  margin-bottom: 18px;
}

.label_cd_key2{
  font-family:Avenir-Medium;
  font-size:16px;
  color:#52c373;
  letter-spacing:0px;
  margin-top: 18px;
  margin-left: 40px;
  margin-bottom: 18px;
}

.label_cd_value{
  font-family:Avenir-Medium;
  font-size:18px;
  color:#1a234a;
  letter-spacing:0px;
  margin-top: 17px;
  margin-right: 30px;
}

.label_item_description{
  font-family:Avenir-Medium;
  font-size:12px;
}

.label_title{
  color: #AFBED6;
  font-weight: 400;
  margin-top: 2%;
  margin-bottom: 2%;
}

.label_primary{
  font-family:Avenir-Medium;
  font-size:14px;
  color:#1a234a;
}

.label_secondary{
  font-family:Avenir-Medium;
  font-size:12px;
  color:gray;
}

.hr_cd{
  border:1px solid #e6ecee;
  width:600px;
  margin-bottom: 0px;
}

.hr_cd2{
  border:1px solid #e6ecee;
  width:859px;
  margin-bottom: 0px;
}

.button_course_detail{
  color: #51C373;
  background-color: white;
  border-color: #51C373;
  border:1px solid #52c373;
  border-radius:100px;
  width:80px;
  height:40px;
  margin-top: 13px;
  margin-right: 20px;
  float: right;
}

.button_course_detail:hover{
  color: #2A7D2B;
  background-color: white;
  border-color: #2A7D2B;
  border:1px solid #2A7D2B;
  border-radius:100px;
  width:80px;
  height:40px;
  margin-top: 13px;
  margin-right: 20px;
  float: right;
}

.button_cd_update{
  margin-top: 13%;
  border-radius: 20px;
  height: 40px;
  width: 30%;
  border: 0px;
}

.table_course_info{
  height: auto;
  width: 1250px;
  //width: 900px;
  background-color: white;
  box-shadow:0px 1px 3px 0px rgba(202,208,211,0.60);
  border-radius:5px;
  font-family:Avenir-Medium;
  font-size:16px;
  letter-spacing: normal;
  margin-left: 90px;
}

.td_item{
  height: 50px;
  text-indent:30px;
  width: 5%;
}

.form_edit{
  display: inline-block;
}

.button_item_edit{
  border:1px solid #52c373;
  border-radius:100px;
  width: 70px;
  display: inline-block;
}

.button_metadata{
  width:25px;
  height:25px;
  background: url("https://s3-ap-southeast-2.amazonaws.com/dmpc.asset/edit.png") no-repeat 0 0;
  border:0;
  margin-left: 98px;
  //margin-top: 6px;
}

.button_link {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: blue;
  cursor: pointer;
  padding-left: 0px;
  font-family:Avenir-Medium;
  font-size:16px;
}
.button_link:focus {
  outline: none;
}

.textarea_login{
  color: #B9C5DB;
  height: 200px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #B9C5DB;
  margin-bottom: 0px;
  padding:6px;
}

.modal_metadata_frame{
  margin-top: 200px;
  margin-left: 50px;
  width: 400px;
  height: 480px;
}

.modal_item_frame{
  margin-top: 200px;
  margin-left: 50px;
  width: 600px;
  height: 800px;
}

.modal_container{
  margin-top: 20px;
  margin-left: 50px;
}
