// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.input_search{
  width: 30%;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
  border-radius: 20px;
  border: 1px solid #B9C5DB;
  text-indent:6px;
}

.button_search{
  border-radius:100px;
  width:120px;
  height:40px;
  margin-left: 70px;
  margin-top: 42px;
  border: 0px;
}

.label_search_title{
  font-family:Avenir-Black;
  font-size:18px;
  color:#a9b9d3;
  letter-spacing:0px;
  margin-left: 10px;
  margin-bottom: 7px;
}
