<style>
  a{text-decoration:none}
</style>

<ul id="sidebar" class="sidebar_dashboard">
  <label class="label_fake_logo">Curator</label>

  <li class="li_dashboard_dashboard">
    <a href="/user/dashboard" >
      <span id="dashboard" class='a_inactive'>Dashboard</span>
    </a>
  </li>

  <li class="li_dashboard_course">
    <a href="/user/courses" >
      <span class='a_inactive'>Followed Courses</span>
    </a>
  </li>

  <li class="li_dashboard_metadata">
    <a href="/user/course_management" >
      <span class='a_inactive'>Course Management</span>
    </a>
  </li>

  <li class="li_dashboard_accountmanagement">
    <a href="/user/account_management" >
      <span class='a_inactive'>Account Management</span>
    </a>
  </li>

</ul>
